PLANE_HOST=0.0.0.0
PLANE_PORT=8100
PLANE_WORKER_COUNT=6
PLANE_QUEUE_MAX_SIZE=1000
PLANE_MAX_GLOBAL_CONCURRENCY=64
PLANE_MAX_TENANT_CONCURRENCY=12
PLANE_MAX_AGENT_CONCURRENCY=8
PLANE_TOKEN_DELAY_MS=80
PLANE_HEARTBEAT_SECONDS=15
